<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="SphereERP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ETAInvoicingDB"
         connectionString="Data Source=192.168.1.2,1434;Initial Catalog=ETAInvoicingDB;User ID=za;Password=Alhayat2020;Trusted_Connection=False;TrustServerCertificate=True;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Default ETA SDK endpoints (overridable from the in-app Settings screen) -->
    <add key="PreprodApiBaseUrl" value="https://api.preprod.invoicing.eta.gov.eg" />
    <add key="PreprodIdentityUrl" value="https://id.preprod.eta.gov.eg" />
    <add key="ProdApiBaseUrl" value="https://api.invoicing.eta.gov.eg" />
    <add key="ProdIdentityUrl" value="https://id.eta.gov.eg" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
<userSettings>
    <SphereERP.My.MySettings>
        <setting name="ConnectionString" serializeAs="String">
            <value>192.168.1.2</value>
        </setting>
        <setting name="ConnectionPort" serializeAs="String">
            <value>1434</value>
        </setting>
        <setting name="ConectedDatabase" serializeAs="String">
            <value>ETAInvoicingDB</value>
        </setting>
    </SphereERP.My.MySettings>
  </userSettings>
</configuration>
